<section id="feed-items" class="feed__items flexbox">
    {{#each items}}
        <article class="feed__item flexbox" data-uuid="{{id}}">
            <figure class="feed__img">
                <a href="#appearance/{{id}}"><img src="{{ image.url }}"></a>
                <figcaption class="feed__person">
                    <img class="feed__person__avatar" src="{{ subject.avatar.url }}">
                    <h2 class="feed__person__name">{{ subject.name }}</h2><br />
                    <h1 class="feed__header">{{title}}</h1>
                </figcaption>                
            </figure>
        </article>
    {{/each}}
</section>